body{
    // <uniquifier>: Use a unique and descriptive class name

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
}
.header{
    background-color: #FFF8F3;

}
.banner{
    padding: 30px 30px 30px 150px;
}